<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">
    <parameter name = "browser" value = "*Chrome"/>

    <test name="Allure test" parallel="methods" thread-count="1">
        <groups>
            <run>
                <include name="run" />
            </run>
        </groups>
        <classes>
            <class name="rozetka.tests.SmokeTests"/>
        </classes>
    </test>

    <!--<test name="Allure Cart">-->
    <!--<classes>-->
    <!--<class name="CartPage"/>-->
    <!--</classes>-->
    <!--</test>-->


</suite>