<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Rozetka tests">

    <test name="Rozetka smoke tests">
        <groups>
            <run>
                <include name="run" />
            </run>
        </groups>
        <classes>
            <class name="rozetka.tests.SmokeTests"/>
        </classes>
    </test>

    <!--<test name="Allure Cart">-->
    <!--<classes>-->
    <!--<class name="CartPage"/>-->
    <!--</classes>-->
    <!--</test>-->


</suite>